@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Madimi+One&family=Pacifico&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


#check-offer {
    border-radius: 15px;
    font-size: 15px;
    height: 35px;
    margin-top: 15px;
    color: white;
    background-color: #4d869c;
    width: 75%;
    box-shadow: 2px 2px rgb(226, 226, 226);
    border: 1px solid white;
}

#check-offer:hover {
    cursor: pointer;
    box-shadow: 2px 2px rgb(255, 255, 255);
    color: #4d869c;
    background-color: white;
    border: 1px solid #4d869c;


}

.bus {
    background-image: url(busfinal.png);
    height: 95vh;
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
}

.text-center {
    text-align: center;

}

.inputWidth {
    height: 50px;
    width: 350px;
}

.MyBusTitle {
    text-align: center;
     font-size: 70px;
     color: white;
     padding-top: 18%;
     display: flex;
      justify-content: center;
       align-self: center;

       text-decoration: underline;
}

.codeQr inputs {
        margin-left: auto;
    margin-right: auto;
    width: 75%;
}
#qr_code {
    display: flex;
    float: right;
    
}

.m-auto {
    margin-left: auto;
    margin-right: auto;
}

body {
    color: black;
}

.alignement {
    text-align: center;
}

.bus-section {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.inputs {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    width: 70%;

}

.inputs input, .bus-section button  {
    border-radius: 25px;
}

.bus-section button {
    width: 150px;
    height: 50px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    background-color: #4d869c;
    color: wheat;
    border: 1px solid wheat;
    align-items: center;
}

.bus-section button:hover{
    cursor: pointer;
}

.bus-station {
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
}

body{
    font-family: "Reddit Sans", sans-serif;
}


.inputs input {
    padding-left: 15px;
    font-family: Poppins;
    border: 1px solid gray;
    flex-wrap: wrap;
    margin-top: 15px;
}

.inputs input:focus {
    border: 1px solid rgb(53, 228, 53);

}


.container-num-time {
    display: flex;
    justify-content: space-around;
}

.bus-time , .bus-num {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid black;
    padding: 15px;
}



.bus-thingy img {
    width: -webkit-fill-available;
}

.map {
    background-color: #4d869c;
}

.bus-thingy {
    /* background-image: url(bus-thingy.png); */
    background-size: cover;
    background-repeat: no-repeat;
    position: relative; /* Make the container a positioning context */
    
}

.container {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;

    margin-bottom: 25px;

}




.info {
    background-color: rgb(213, 213, 213);
    box-shadow: 2px 2px black;
    border-radius: 5px;
    padding-top: 5px;
    width: 55px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}



@media screen and (max-width: 1100px) {
    .container {
      flex-direction: column;
    }

    .map {
        margin-top: 15px;
    }

    .map img  {
        height: 200px;
    }

    

    .bus-section {
        width: 90%;

    }

  }

  @media screen and (max-width: 500px) {

    .map img   {
        height: 150px;
    }

    

    .bus-section {
        width: 100%;

    }
  }


  .fade-out {
    animation-name: fadeOut;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  
  @keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
  }



.form-input {
    display: flex;
    flex-wrap: wrap;
}

#btn-pay {
    width: 150px;
    height: 50px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}


.codeQr {
    padding-bottom: 50px;
}

.logo {
    width: 30%;
}

.links {
    width: 70%;
}

.user-bus-card {
    border: 1px solid rgb(195, 195, 195);
    border-radius: 25px;
    box-shadow: rgb(197, 197, 197) 2px 2px 2px 2px;
    width: 35%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    
    margin-top: 15px;
}

.card-user-name {
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
}

.container-card-bus-info {
    display: flex;
    justify-content: space-around;
   width: 40%;
}

.card-img {
    display: flex;
    align-items: center;
}

.user-bus-card h1 {
    text-align: left;
}

.container-codeQr img {
    display: flex;
    justify-content: end;
}

@media screen and (max-width: 1200px) {
    .user-bus-card {
        width: 45%;

    }
}


@media screen and (max-width: 960px) {
    .user-bus-card {
        width: 90%;

    }
}

@media screen and (max-width: 500px) {
    .user-bus-card {
        flex-direction: column;

    }

    .container-card-bus-info {
        margin-left: auto;
        margin-right: auto;
    }

    #qr_code {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        
    }

    .container-codeQr {
        display: flex;
        justify-content: center;
    }

    .card-user-name {
        margin-left: 15px 
    }
}

@media screen and (max-width: 900px) {
    .bus {
        background-image: url(bus-mobile.jpg);
    }
}


@media screen and (max-width: 400px) {
    .inputWidth {
        width: 100%;
    }
}


#check-offer , #btn-pay, #btn {
    border-radius: 15px;
    font-size: 15px;
    height: 35px;
    margin-top: 15px;
    color: white;
    background-color: #4d869c;
    width: 200px;
    box-shadow: 2px 2px rgb(226, 226, 226);
    border: 1px solid white;
}

#check-offer:hover , #btn-pay:hover, #btn:hover {
    cursor: pointer;
    box-shadow: 2px 2px rgb(255, 255, 255);
    color: #4d869c;
    background-color: white;
    border: 1px solid #4d869c;


}